{% extends "app/base.html" %}
{% block content %}
<div class="slogan container container--90" id="help">
<section class="login-page">
      <h2>Zgłoś do nas instytucję</h2>
      <form method="POST">
        {% csrf_token %}


        <div class="form-group">
          {{form.name}}
        </div>
        <div class="form-group">
         {{form.address}}
        </div>
        <div class="form-group">
          {{form.city}}
        </div>
        <div class="form-group">
          {{form.mission}}
        </div>
        <div class="form-group">
        {{form.type}}
        </div>

        <div class="form-group">
          <button class="btn" type="submit">Wyślij prośbe do wpisanie do bazy</button>
        </div>
          <div class="form-group">
          <h2>{{text}}</h2>
        </div>
      </form>
    </section>
</div>
{% endblock %}