{% extends "app/base.html" %}
{% block content %}
<div class="slogan container container--90" id="help">
<section class="login-page">
      <h2>Zgłoś do nas swoją organizację</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <h2>{{text}}</h2>
        </div>

        <div class="form-group">
          <input type="name" name="name" placeholder="Name" />
        </div>
        <div class="form-group">
          <input type="address" name="address" placeholder="Address" />
        </div>
        <div class="form-group">
          <input type="city" name="city" placeholder="City" />
        </div>
        <div class="form-group">
          <input type="mission" name="mission" placeholder="Mission" />
        </div>
        <div class="form-group">
        {{form.type}}
        </div>

        <div class="form-group form-group--buttons">
          <button class="btn" type="submit">Wyślij prośbe do wpisanie do bazy</button>
            <a href="login.html" class="btn btn--without-border"></a>
        </div>
      </form>
    </section>
</div>
{% endblock %}