<!DOCTYPE html>
{% load static %}
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="header--main-page">
      <nav class="container container--70">
        <ul class="nav--actions">
          {% if auth %}
          <li><a href="#" class="btn btn--small btn--without-border">Witaj {{user.username}} </a></li>
          <li><a href="{% url 'profile' %}" class="btn btn--small btn--without-border">Edytuj dane</a></li>
          <li><a href="{% url 'logout' %}" class="btn btn--small btn--without-border"> Wyloguj</a></li>
          {% else %}
          <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
          {% endif %}
            {% if not auth %}
            <li><a href="{% url 'register' %}" class="btn btn--small btn--without-border">Załóż konto</a></li>
            {% endif %}
        </ul>

        <ul>
          <li><a href="{% url 'landing-page' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'landing-page' %}#help" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="{% url 'landing-page' %}#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="{% url 'landing-page' %}#organizations" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="{% url 'landing-page' %}#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

        {% block content %}
        {% endblock %}
    <script src="../../static/js/app.js"></script>

  </body>
<footer>
      <div class="contact" id="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact" method="POST">
            {% csrf_token %}
          <div class="form-group form-group--50"><input type="text" name="name" placeholder="Imię" /></div>
          <div class="form-group form-group--50"><input type="text" name="surname" placeholder="Nazwisko" /></div>

          <div class="form-group"><textarea name="content" placeholder="Wiadomość" rows="1"></textarea></div>

          <button class="btn" type="submit">Wyślij</button>
        </form>
      </div>
      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"><img src="../../static/images/icon-facebook.svg"/></a> <a href="#" class="btn btn--small"><img src="../../static/images/icon-instagram.svg"/></a>
        </div>
      </div>
    </footer>
</html>
